body {
    background-color: blue ;
}
.container button {
    cursor: pointer;
    border-radius: 30px;
    border: transparent;
    color: white;
    background-color: rgb(197, 143, 248);
    align-items: center;
    padding: 8px 45px;
    transition: all 400ms ease;
}
.container button:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
}